@* @model IPagedList<SE310_Restaurant_Management_System.Models.Invoice> *@
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Invoice>
<div class="table-responsive">
    <table class="table table-danger">
        <thead>
            <tr>
                <th>Bàn</th>
                <th>Ngày</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var status = item.IsPaid ? "Đã thanh toán" : "Chưa thanh toán";
                <tr class="table-warning">
                    <td>@item.TableId</td>
                    <td>@item.InvoiceDate</td>
                    <td>@item.TotalAmount.Value.ToString("N0") đ</td>
                    <td>@status</td>
                    <td>
                        @if (!item.IsPaid)
                        {
                            <button class="btn btn-sm btn-success" onclick="confirmPayment(@item.InvoiceId)">Thanh toán</button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-info" onclick="showInvoiceDetails(@item.InvoiceId)">Xem Chi Tiết</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Invoice", new { page, isPaid = ViewData["IsPaid"] }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
})
</div>  