@model IEnumerable<SE310_Restaurant_Management_System.Models.RestaurantTable>

<div class="row">
    @foreach (var item in Model)
    {
        // Xác định lớp nền cho thẻ dựa trên giá trị của statusId
        var cardClass = item.StatusId switch
        {
            1 => "bg-gradient-success",
            2 => "bg-gradient-info",
            3 => "bg-gradient-danger",
            _ => "bg-gradient-secondary" // mặc định nếu statusId không thuộc các giá trị trên
        };

        var reserveOnClickFunction = item.StatusId switch
        {
            1 => $"cancelReservation({item.TableId})",   // Hàm hủy đặt bàn
            3 => $"confirmPaymentForTable({item.TableId})",      // Hàm thanh toán
            _ => $"reserveTable({item.TableId})"         // Hàm đặt bàn
        };
     
        <div class="col-md-3 grid-margin">
            <div class="card @cardClass card-img-holder text-white">
                <div class="d-flex justify-content-between">
                    <h3 class="mx-2 mt-2 mb-0">Bàn @item.TableNumber</h3>
                    <h4 class="mx-2 mt-2 mb-0">@item.Location</h4>
                </div>
                <div class="card-body m-0">
                    <button type="button" class="btn btn-gradient-warning btn-fw m-2"
                            data-bs-toggle="modal" data-bs-target="#menuModal"
                            onclick="showMenuModal(@item.TableId); setTableInfo('@item.TableNumber', '@item.Location')">
                        Gọi món
                    </button>
                    <!-- Nút Đặt bàn -->
            @if (item.StatusId == 2)  
            {
                <form method="get" action="@Url.Action("Booking","Cashier")" style="display:inline;">
                    <input type="hidden" name="TableId" value="@item.TableId" />
                    <button type="submit" class="btn btn-gradient-success btn-fw m-2">
                        Đặt bàn
                    </button>
                </form>

            }else if (item.StatusId == 1) 
            {
                        <button type="button" class="btn btn-gradient-danger btn-fw m-2" onclick="@reserveOnClickFunction">
                    Hủy đặt
                </button>
            }else if (item.StatusId == 3)  
            {
                        <button type="button" class="btn btn-gradient-primary btn-fw m-2"  style="padding: 14px 20px" onclick="@reserveOnClickFunction">
                    Thanh toán
                </button>
            }
                </div>
            </div>
        </div>
    }
</div>
